Importando as bibliotecas

In [7]:
import pandas as pd
import chardet
import unidecode

In [8]:
# 1. Identificar o encoding do arquivo

with open('natal2021.csv', 'rb') as f:
    result = chardet.detect(f.read())
encoding = result['encoding']

In [9]:
# 2. Processar o arquivo de 1000 em 1000 linhas

chunk_size = 1000
chunks = pd.read_csv('natal2021.csv', chunksize=chunk_size, encoding=encoding)

In [10]:
# 3. Remover os espaços das colunas

def remove_spaces(df):
    for col in df.columns:
        if df[col].dtype == 'object':
            df[col] = df[col].str.strip()
    return df

In [11]:
# 4. Criar uma coluna CITY_ASCII no arquivo

def create_ascii_col(df):
    df['CITY_ASCII'] = df['CITY'].apply(lambda x: unidecode.unidecode(x).upper())
    return df

In [12]:
# 5. Remover os caracteres não numéricos da coluna PHONE, os - e os ()

def remove_non_numeric(df):
    df['PHONE'] = df['PHONE'].str.replace(r'[() -]+', '', regex=True)
    return df

In [13]:
#6. Aplicar as funções a cada chunk e salvar em um novo arquivo CSV

with open('arquivo_tratado_natal2021.csv', 'w', encoding='utf-8', newline='') as f:
    for i, chunk in enumerate(chunks):
        print(f'Processing chunk {i+1}')
        chunk = remove_spaces(chunk)
        chunk = create_ascii_col(chunk)
        chunk = remove_non_numeric(chunk)
        chunk.to_csv(f, header=(i == 0), index=True)
print('Processing complete!')

Processing chunk 1
Processing chunk 2
Processing chunk 3
Processing chunk 4
Processing chunk 5
Processing chunk 6
Processing chunk 7
Processing chunk 8
Processing chunk 9
Processing chunk 10
Processing chunk 11
Processing chunk 12
Processing chunk 13
Processing chunk 14
Processing chunk 15
Processing chunk 16
Processing chunk 17
Processing chunk 18
Processing chunk 19
Processing chunk 20
Processing chunk 21
Processing chunk 22
Processing chunk 23
Processing chunk 24
Processing chunk 25
Processing chunk 26
Processing chunk 27
Processing chunk 28
Processing chunk 29
Processing chunk 30
Processing chunk 31
Processing chunk 32
Processing chunk 33
Processing chunk 34
Processing chunk 35
Processing chunk 36
Processing chunk 37
Processing chunk 38
Processing chunk 39
Processing chunk 40
Processing chunk 41
Processing chunk 42
Processing chunk 43
Processing chunk 44
Processing chunk 45
Processing chunk 46
Processing chunk 47
Processing chunk 48
Processing chunk 49
Processing chunk 50
Processing chunk 51
Processing chunk 52
Processing chunk 53
Processing chunk 54
Processing chunk 55
Processing chunk 56
Processing chunk 57
Processing chunk 58
Processing chunk 59
Processing chunk 60
Processing chunk 61
Processing chunk 62
Processing chunk 63
Processing chunk 64
Processing chunk 65
Processing chunk 66
Processing chunk 67
Processing chunk 68
Processing chunk 69
Processing chunk 70
Processing chunk 71
Processing chunk 72
Processing chunk 73
Processing chunk 74
Processing chunk 75
Processing chunk 76
Processing chunk 77
Processing chunk 78
Processing chunk 79
Processing chunk 80
Processing chunk 81
Processing chunk 82
Processing chunk 83
Processing chunk 84
Processing chunk 85
Processing chunk 86
Processing chunk 87
Processing chunk 88
Processing chunk 89
Processing chunk 90
Processing chunk 91
Processing chunk 92
Processing chunk 93
Processing chunk 94
Processing chunk 95
Processing chunk 96
Processing chunk 97
Processing chunk 98
Processing chunk 99
Processing chunk 100
Processing complete!

In [14]:
df = pd.read_csv ('arquivo_tratado_natal2021.csv')

In [15]:
df

,Unnamed: 0,CUSTOMER_ID,CITY,PHONE,CITY_ASCII
0,0,aaf2e957-7842-4cca-854d-a29f1aad6dfd,São Paulo,51986338462,SAO PAULO
1,1,26cb530b-a07f-41a7-b584-3fed3ab72385,São Paulo,51969771473,SAO PAULO
2,2,c68ae612-d074-4af1-9f11-da5588d218e1,Florianópolis,51900166886,FLORIANOPOLIS
3,3,b90f9e45-4faa-414d-b1a1-413783c04246,Porto Alegre,51927096260,PORTO ALEGRE
4,4,5dfe83e1-61c7-442e-8a9f-f30a5c649bae,São Paulo,51924852515,SAO PAULO
...,...,...,...,...,...
99995,99995,5f4997e2-5e4c-46c2-ab59-7fd6e6469689,São Paulo,51927822710,SAO PAULO
99996,99996,a161c52f-6986-4808-8eb2-19f5b21301b7,Florianópolis,51965547529,FLORIANOPOLIS
99997,99997,c8fdc9fb-fcdb-4233-80b0-de6bd06724da,São Paulo,51967013112,SAO PAULO
99998,99998,925140de-7132-4625-93b5-bf950d84cca0,São Paulo,51945979395,SAO PAULO
99999,99999,889a774f-8f8d-4647-8385-b19f0ee814b1,Florianópolis,51979713333,FLORIANOPOLIS